#variable

In [ ]:
a = 123 #integer
b = 1.23 #float
c = 1+ 2j #complex
d = "hello world"
e = True
f = False
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
type(a) # to see the type of the variable

#String

In [ ]:
x= "hi "
y = "hello, how are you"
z = x+y  #concat

print(z)

# accessing value of string
print(y[0])

# length
print(len(y)-1)

print(y.lower())
print(y.upper())

print(y.title()) #it will make all the first letter of string upper case

print(y.strip()) # remove the space beginig and end

print(y.find("h")) # to find index

print(y.replace("h","j")) # replace all of them

print('hello' in y) # check if the string exist in the string

# !! string slicing
m = "my name is azmain"
#m[a:b] -> return from index a up until index b(b not included)
print (m[0:5])
print (m[:5]) # it will automatically take 0 as the begining
print(m[-1]) # it will print the value of last element

# print

In [ ]:
a = 20
b = 24
c = 60

resutl   = a *b * c

print("20 days",resutl," in min:")

print("20 days",str(resutl)," in min:")

print(f"20 days {resutl} in min:")

print(f"20 days { a * b * c} in min \n")

20 days 28800  in min:
20 days 28800  in min:
20 days 28800 in min:
20 days 28800 in min

# user input

In [ ]:
def printVal():
    print("20 days",str(resutl)," in min:")
    print(" all good! ")

def printValWithParameters(num_of_days, a):
    print(f"{num_of_days} {a}")


a = int(input("Enter a : "))

b = float(input("Enter b : "))

c = bool(input("Enter c : "))

d = str(input("Enter d : "))

print(c)
resutl   = a *b * c

printVal()

printValWithParameters(20,b)

Enter a : 12
Enter b : 3.4
Enter c : true
Enter d : lol
True
20 days 40.8  in min:
 all good!
20 3.4

# tuples

In [ ]:
# Tuples are used to store multiple items in a single variable.
# A tuple is a collection which is ordered and unchangeable.
# Allow duplicates
# you cant make tuple with one item

thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(len(thistuple))


#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

# access tuple
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[1])
print(thistuple[-1]) # last item
print(thistuple[2:5]) # including 2 to 4
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")


# tuples are immteable, so we have to convert it in to the list
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange") # adding
thistuple = tuple(y)
print(thistuple)

#removing
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)


#iterating
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])


# joining two tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('apple', 'banana', 'cherry')
3
<class 'str'>
banana
mango
('cherry', 'orange', 'kiwi')
Yes, 'apple' is in the fruits tuple
('apple', 'banana', 'cherry', 'orange')
apple
banana
cherry
('a', 'b', 'c', 1, 2, 3)

# if

In [ ]:
a = int(input("Enter a : "))

if a > 0:
    print("positive")
elif (a==0):
    print("zero cant be accepted ")
else:
    print("negative")

num = int(input("enter a number"))
check = True

if (num>0):
    check = False
else:
    check =  True

print("check on time", num>0)
print(check)

# for

In [ ]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)

val= 10
for x in range(val): # will print:  0 to 9
    print(x)

for x in range(2, 6): # will print:  2 to 5
    print(x)

for x in range(2, 30, 3): # 2 5 8 11 14 17 20 23 26 29. > 3 step diffrence
  print(x)

#only else in for loop
for x in range(6):
    print(x)
else:
    print("Finally finished!")

# nested for loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)
#output:
'''
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry
'''

# for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.
for x in [0, 1, 2]:
    pass


#break statement
for x in range(6):
    if x == 3: break
    print(x)
else:
    print("Finally finished!")



for x in range(2, 30, 3):
    print(x)

# while

In [ ]:
'''while True:
    try:
        a = int(input("Enter a : "))

    except ValueError:
        print("wrong value")

    print("value", a)'''


i = 1
print(">>___from 1 to 5")
while i < 6:
  print(i,end=' ')  
  i += 1

print()
print(">>___from 1 to 5 except 3")
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i,end=' ')

>>___from 1 to 5
1 2 3 4 5
>>___from 1 to 5 except 3
1 2 4 5 6

#list

In [ ]:
mylist = ["apple", "banana", "cherry"]

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)
print(thislist[-1]) # last item
print(thislist[2:5]) # 3,4,5th item
print(thislist[:4]) # 0,1,2,3
print(thislist[-4:-1]) #This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

# changing
thislist[1] = "blackcurrant" # change the 1 item to blacurrant
thislist[1:3] = ["blackcurrant", "watermelon"] # Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist.insert(2, "watermelon")
thislist.clear() # clear list item

#adding
thislist.append("orange")
thislist.insert(1, "orange") # insert an item in the second positon

# remove
thislist.remove("banana")
thislist.pop(1) # remove the second item
thislist.pop() # remove the last item
del thislist[0] # remove the 1st item of the list.
del thislist # it will delete the list

# loop in the list
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)
    
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1


# sorting
thislist1 = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist = [100, 50, 65, 82, 23]
thislist.sort()
thislist.sort(reverse = True)


# copy the list
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)


# adding two list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)
#another way
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
    list1.append(x)
print(list1)
#another way
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)


# checking
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

#A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]

# function

In [ ]:
def printVal():
    print("20 days",str(resutl)," in min:")
    print(" all good! ")

def printValWithParameters(num_of_days, a):
    print(f"{num_of_days} {a}")


a = 20
b = 24
c = 60

resutl   = a *b * c

printVal()

printValWithParameters(20,b)

#Dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Access items
x = thisdict["model"]

#Get the value of the "model" key:
x = thisdict.get("model")

# get all keys
x = thisdict.keys()

In [ ]:
# Changing items in two ways.
thisdict["year"] = 2018
thisdict.update({"year": 2020})

In [ ]:
# add items
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}

In [ ]:
# remove items
thisdict.pop("color")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
# looping items

print(" >>__get all the values")
for x in thisdict:
  print(x)


print(" >> __get all the keys")
for x in thisdict.keys():
  print(x)


print(" >> __get all the values and keys")
for x, y in thisdict.items():
  print(x, y)

 >>__get all the values
brand
model
year
 >> __get all the keys
brand
model
year
 >> get all the values and keys
brand Ford
model Mustang
year 2020

In [ ]:
# copying a dictionary
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

#try except

In [ ]:
try:
    a = int(input("Enter a : "))

except:
    print("wrong value")

print(a)

Enter a : true
wrong value
12

#sets

In [ ]:
# Set items are unchangeable, but you can remove items and add new items.
# Set items are unordered, unchangeable, and do not allow duplicate values. Cant use refrred index
# Duplicate values will be ignored

thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)
# output : {'apple', 'banana', 'cherry'} > duplicate item ignored.

print(len(thisset))

set1 = {"abc", 34, True, 40, "male"} #> A set can contain different data types


GEEK = {'g', 'e', 'k'}
# adding 's'
GEEK.add('s')
print('Letters are:', GEEK) #> Letters are: {'k', 'g', 'e', 's'}


GEEK = {'g', 'e', 'k'}
# removing 'k'
GEEK.remove('k')
print('Letters are:', GEEK) #> Letters are: {'g', 'e'}

# return

In [ ]:
def returnVal(number_of_day):
    return number_of_day+12


a = int(input("Enter a : "))

my_var = returnVal(a)

print(my_var)

# see type

In [ ]:
item1 = "phone"
print(type(item1))

<class 'str'>